@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*begron*/
*{
    margin: 0%;
    padding: 0%;
    background-color: black;
}

li a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: snow;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
    margin: auto;
}

.navigasi{
    list-style: none;
}
.navigasi li{
    display: inline-block;
    padding: 0px 20px;
}
.navigasi li a{
    transition: all 0.3s ease 0s;
}
.navigasi li a:hover{
    color: red;
}
.navigasi li a:active {
    color: red;
}

button{
    padding: 9px 25px;
    background-color: red;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button :hover{
    background-color: rgb(255, 0, 0);
}

.istri{
    position: fixed;
    right: 70px;
    height: 480px;
}

.teks {
    color: red;
    position: fixed;
    left: 135px; 
    font-family: "Montserrat", sans-serif;
}

div.hiperlink a{
    color: red;
    justify-content: center;

}
